<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="login.Properties.Settings.JewelleryDbCon" connectionString="Data Source=GRLAP01;Initial Catalog=JewelleryDb;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>